
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Ubuntu:wght@300&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Ubuntu:wght@300&display=swap');
body{
    font-family: "Montserrat";
}
h1{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3rem;
    line-height: 1.5;
    /* color: white; */
    color: rgb(204, 255, 0);
}
h2{
    font-family: "Montserrat";
    line-height: 3rem;
    size: 3rem;
}
h3{
    font-family: "Montserrat";
    font-size: 2rem;
    line-height: 1;
    margin-top: 5%;
}
.container-fluid{
    padding: 3% 15% 7%;
}


/* title */

#title{
    /* background-color: #ff4c68; */
   background-color:  #000000;
}

.btn{
    margin-top: 10%;
}
.title-image{
    position: relative;
}
.iphone{
    width: 90%;
    transform: rotate(-25deg);
    position: absolute;
    left: auto;

    
}
.button-grp{
    margin-bottom: 20%;
}
/* animation text */


/* navbar  */
.navbar{
    padding-bottom: 10%;
}

.navbar-brand{
    font-family: "Ubuntu";
    font-size: 2.5rem;
    font-weight: bold;
}
.nav-link{
    font-size: 1.2rem;
    font-weight:"Montserrat-light"  ;
}

/* features */
.joke-section{
    font-family: "Montserrat";
    font-size: 10px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    color: white;
    min-height: 100vh;
    width: 100%;
    padding: 100px 0;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(204, 255, 0);
  }
  .container {
    width: 90%;
    max-width: 500px;
    margin: 0 auto;
    background-color: rgb(1, 1, 1);
    border-radius: 8px;
    padding: 3rem;
    display: flex;
    flex-direction: column;
  }
  .container p {
    font-size: 2rem;
    font-weight: 300;
    line-height: 3rem;
    text-align: justify;
  }
  button {
    margin-top: 40px;
    width: fit-content;
    padding: 2rem;
    font-size: 2rem;
    background-color: rgb(25, 28, 29);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    align-self: flex-end;
  }
#features{
    padding: 7% 15%;
    background-color: white;
    position: relative;
}
.feature-box{
    text-align: center;
    padding: 5%;
}
.discrip{
    color: grey;
}
.icon{
    color: #ef8172;
    
}
.icon:hover{
    color: #ff4c68;
}

/* testimonials */
#testimonials{
    text-align: center;
    /* background-color: #ff4c68 ; */
    background-color: green;
    color: #fff;
}
.testimonial-image{
    margin: 20px;
    border-radius: 100%;
}
/* press  */

#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}
.carousel-inner{
    background-color: #000000;
    color: rgb(204, 255, 0);
}
.carousel-inner h2{
    margin-bottom: 10%;
    font-size: 50px;
}
.carousel-item{
    padding: 7% 15%;
}
/* pricing  */
.img-old{
   position: relative;

    /* width: 30%;
    height: 500px;
    margin-right: 10%; */
}
.meme-btn{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 40%;
    margin-bottom: 5%;
    margin-top: 0;
 
}
#pricing{
    padding: 100px;
    text-align: center;
    background-color:rgb(204, 255, 0);
    color: black;
}
#pricing h1{
    color: black;
}
.pricing-col{
    padding: 3% 2%;
}

/* call to action  */
#cta{
    background-color: #ff4c68;
    padding: 7% 15%;
    text-align: center;
}
.cta-heading{
    font-family: "Montserrat";
    font-weight: 900;
    font-size: 3.5rem;
    line-height: 1.5;
    color: white;

}
.download-button{
    margin-right: 10px;
    padding-left: 10px;
}
.down-log{
    padding-right: 8px;
}

/* footer  */
#footer{
    padding: 7% 15%;
    text-align: center;
}
.social-icon{
    margin: 20px 10px;
}

@media(max-width: 1004px) {
    #title{
        text-align: center;
    }
    .iphone{
    position: static;
    transform: rotate(0);
    }
}